<html>  
	<head>				
		<title>Express handlebars</title>
		<meta name="google-site-verification" content="4foNmlpGXU7GPmb5s7XIRmT7TVP5GQ3h28NIzZ5QVRA" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Jquery -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous"></script>
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
		<script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
	<script src="configV.js"></script> -->
	<!--	<script src="https://apis.google.com/js/api.js"></script> -->	
  <script src="https://apis.google.com/js/platform.js" async defer></script> 
		
		<script> 			
			firebase.initializeApp(config.firebase);			
		</script>
	</head>
  <body>
    {{{body}}}
	</body>
</html>  

