<nav class="navbar"></nav>
<div class="container">
	<div class="jumbotron">
		<h2 id="name" class="text-muted"> {{name}}</h2>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 well">
			<h2>Hello {{resT}}! </h2>
			<button id="quickstart-sign-in" class="btn btn-primary btn-lg">Sign-In</button>
			<button id="signout" class="btn btn-danger btn-lg">Sign-Out</button>			
    </div>
	</div>
	<!--<script src="af.js"></script> -->
	<!-- <script src="firebaseOAuth.js"></script> -->

